.checkout-page {
    width: 100%;
    height: 100%;
    position: relative;
    
}

#pay-button {
    min-width: 100px;
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(11, 219, 247);
    color: black;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgb(11, 219, 247);
    position: absolute;
    right: -30px;
    bottom: -100px;
    outline: none;


    &:hover {
        border: 0;
        background: rgb(3, 169, 190);
    }
}
