.checkout-page {
    width: 100%;
    height: 100%;
    position: relative;
    
    h1 {
        width: 335px;
        display: block;
        margin-left: auto;
        margin-right: 80px;
        font-weight: 300;
        font-size: 50px;
    }
    
    .checkout-container {
    padding-bottom: 60px;
    }

    .message-test {
        text-align: center;
        width: 40%;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        color: red;
    }

    .stripe-buttonn {
        margin-top: 30px;
        // width: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        // background: red;
    }
    
}

